<!doctype html>

<link rel="stylesheet" href="/styles/map.css">

<body>
  <div class="map-wrap">
    <svg id="isomap" viewBox="0 0 1100 700" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <pattern id="grid" width="58" height="33" patternUnits="userSpaceOnUse">
          <path d="M0 16.5 L29 0 L58 16.5 L29 33 Z" fill="none" stroke="#ddd8d0" stroke-width="0.5" />
        </pattern>
      </defs>
      <g id="rooms-layer"></g>
      <g id="objects-layer"></g>
    </svg>
  </div>

  <div class="tooltip" id="tooltip"></div>

  <script src="/js/schrank.js"></script>
</body>