# Sicherheit für Background-Ordner
<FilesMatch "\.(svg)$">
    Header set Content-Type "image/svg+xml"
    Header set X-Content-Type-Options "nosniff"
</FilesMatch>

# Nur SVG-Dateien erlauben
<Files *>
    Order Deny,Allow
    Deny from all
</Files>

<FilesMatch "\.(svg)$">
    Allow from all
</FilesMatch>

# Directory Listing verhindern
Options -Indexes