/* ==============================================
   NAVIGATION (Standard)
============================================== */
nav {

    display: flex;
    align-items: center;
    background-color: var(--cat-secondary);
    filter: brightness(1.2);
    color: var(--cat-text);
    padding: 0.75rem 1rem;
    margin-bottom: 2rem;
}

nav a,
.nav-links a {
    color: var(--cat-text);
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav a:hover,
.nav-links a:hover {
    color: var(--cat-accent);
    text-decoration: underline;
}